@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
var memberService = ApplicationContext.Current.Services.MemberService;
var activeMembers = memberService.GetMembersByGroup("Active");
var prospectMembers = memberService.GetMembersByGroup("Prospect");
}

<h2>Active Members</h2>
@foreach (var member in activeMembers)
{
	<p class="text-primary">
		@(member.GetValue("firstname") + " "
		+ member.GetValue("lastname")) <br/>
	</p>
	<p>
		@member.GetValue("address")<br />
		@(member.GetValue("zip") + " "
		+ member.GetValue("city"))<br />
		Mobile: @member.GetValue("mobile")<br />
	</p>
}

<h2>Prospect Members</h2>
@foreach (var member in prospectMembers) 
{
	<p class="text-primary">
		@(member.GetValue("firstname") + " "
		+ member.GetValue("lastname")) <br/>
	</p>
	<p>
		Mobile: @member.GetValue("mobile")<br />
	</p>
}